/*Color palette*/
:root {
    --color-1: #0a1128;
    --color-2: #001f54;
    --color-3: #034078;
    --color-4: #1282a2;
    --color-5: #fefcfb;
}

/*Carrusel*/
.carousel {
    margin-bottom: 15px;
}


/*General settings*/
h1{
    color: var(--color-5);
    background: var(--color-3);
    padding-bottom: 5px;
}

h2 {
    color: var(--color-4);
}

h3 {
    color: var(--color-5);
    background: var(--color-4);
    padding: 5px;
}

h4 {
    color: var(--color-5);
    background: var(--color-4);
    padding: 5px; 
    margin-top: 20px;
}

h5 {
    text-decoration: underline;
}

.fisrt-row{
    margin-top: 80px;
}

.top-row {
    margin-top: 15px;;
}

.last-row {
    margin-bottom: 20px;
}

/*Landing page*/
/*Navbar*/
.navbar {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    background: var(--color-5);
}

.navbar-logo {
    margin-right: 50px;
}

.navbar-link {
    color: var(--color-4);
    text-decoration: unset;
    margin-right: 15px;
}

.rounded-circle{
    margin-top: 5px;
}

/*Footer*/
.footer {
    color: var(--color-5);
    background: var(--color-1);
    padding: 10px;
    padding-left: 30px;
    font-size: small;
    display: flex;
}

.footer-link {
    color: var(--color-5);
    text-decoration: unset;
}

/*Form*/
.form-box {
    justify-content: center;
    display: flex;
}

.form-label{
    float: left;
    width: 200px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.input-box {
    margin-bottom: 10px;
}

.form-button {
    background: var(--color-4);
    color: var(--color-5);
    margin: 5px;
    font-weight: bold;
}

.form-check-label {
    margin-left: 2px;
    margin-right: 15px;
}

/*Organizations view*/
.borders{
    display: flex;
    overflow-x: scroll;
    margin-bottom: 50px;
}

/*My profile view*/
.myprofile-pic {
    min-width: 350px;
    max-width: 350px;
}

/*Components*/
/*Cards*/
.card{
    min-width: 350px;
    max-width: 350px;
    margin: 15px;
}

.card__button{
    position: relative;
    background: white;
    color: blue;
}

.card__heart{
    position: absolute;
    right: 0;
    margin-right: 20px;
    background: white;
    color: red;
}

.children-cards{
    padding-top: 60px;
    padding-bottom: 20px;
}